In [25]:
import pandas as pd

In [30]:
df = pd.read_csv("counted_news.csv")

In [32]:
df.head(10)

,Unnamed: 0,Date,stockList,StockSet,totalCount,maxMentioned,maxCount
0,0,2024-01-01,"['AAI', 'AAI', 'AI', 'AI', 'AOT', 'AOT', 'BBL'...","['AAI', 'AI', 'AOT', 'BBL', 'BIG', 'DIF', 'EA'...",40,NEW,5
1,1,2024-01-02,"['AAV', 'ADVANC', 'ADVANC', 'ADVANC', 'AI', 'A...","['AAV', 'ADVANC', 'AI', 'ALL', 'AOT', 'AQUA', ...",202,KEX,15
2,2,2024-01-03,"['AAV', 'AAV', 'AAV', 'AEONTS', 'AGE', 'AH', '...","['AAV', 'AEONTS', 'AGE', 'AH', 'AI', 'AIRA', '...",249,AOT,9
3,3,2024-01-04,"['A5', 'AAV', 'AAV', 'ACG', 'ADVANC', 'AH', 'A...","['A5', 'AAV', 'ACG', 'ADVANC', 'AH', 'AI', 'AI...",291,SPRC,17
4,4,2024-01-05,"['A5', 'A5', 'AAV', 'ACG', 'ADVANC', 'ADVANC',...","['A5', 'AAV', 'ACG', 'ADVANC', 'AEONTS', 'AH',...",212,CRC,13
5,5,2024-01-06,"['24CS', 'AAI', 'AAV', 'AI', 'AI', 'AI', 'AI',...","['24CS', 'AAI', 'AAV', 'AI', 'ALL', 'AMA', 'AO...",59,AI,5
6,6,2024-01-07,"['ADVANC', 'AI', 'AMA', 'AOT', 'AP', 'AP', 'B'...","['ADVANC', 'AI', 'AMA', 'AOT', 'AP', 'B', 'BBL...",50,ITD,3
7,7,2024-01-08,"['ADVANC', 'AF', 'AGE', 'AI', 'AI', 'AI', 'AI'...","['ADVANC', 'AF', 'AGE', 'AI', 'AIRA', 'ALL', '...",270,ITD,33
8,8,2024-01-09,"['AAV', 'AAV', 'AAV', 'ADVANC', 'ADVANC', 'ADV...","['AAV', 'ADVANC', 'AEONTS', 'AF', 'AH', 'AI', ...",252,ITD,15
9,9,2024-01-10,"['AAV', 'ADVANC', 'AI', 'AI', 'AI', 'AI', 'AI'...","['AAV', 'ADVANC', 'AI', 'AIRA', 'AMC', 'AOT', ...",259,ITD,9